.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.container {
  align-items: center;
}



h2 {
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 1.5rem;
  color:#C1EFFF;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  /*padding-bottom: 3rem;*/
}

p {
  margin: 0;
}

h1 {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 3rem;
  color:#9ED2C6;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color:#C1EFFF;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 20px;
}

.projects-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background-color: rgba(0,0,0,0);
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235,0.6);
  border-radius: 12px;
  max-width: 400px;
  min-height: 120px;
}

.project-content {
  flex-grow: 1;
  padding: 0 12px;
}

.avatar-large {
  min-width: 81px;
  height: 81px;
  margin-right: 20px;
}

.bar {
  margin-top: 1rem;
  height: 1rem;
}

.banner-height {
  background-size: cover;
  background-position: center;
  padding: 60px 10px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 70px 10px;
}

.player-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom:2rem;
}


/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  width: 10px;
  height: 30px;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all .3s;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.1);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player__controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}


input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255,255,255,0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

.racer_table {
  margin: auto;
}

.spacing {
  margin-bottom: 20px;
}

.racer_table td {
  height: 80px;
  width: 80px;
  border: 1px solid whitesmoke;
}

.racer_table td.active {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

#player1_race td.active {
  background-image: url(images/player_1.png);
}

#player2_race td.active {
  background-image: url(images/player_2.png);
}

td:last-child {
  background-image: url(images/finish.png);
  background-size: cover;
}

td:last-child.active {
  background-size: 90%, cover;
  background-position: center, top left;
}

#player1_race td:last-child.active {
  background-image: url(images/player_1.png), url('images/finish.png');
}

#player2_race td:last-child.active {
  background-image: url(images/player_2.png), url('images/finish.png');
}

